html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
header {
    margin-top: -1em;
    position: initial;
}

footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0
}

@media (prefers-color-scheme: dark) {  
    body {
    background-color: #1c1c1e;
    color: #fefefe;
    }
    a {
    color: #5fa9ee;
    }
    img {
    filter: grayscale(20%);
    }
}

.banner {
    background-color: rgb(249, 132, 81);
}

header p {
    color: white;
}

footer p {
    color: white;
    text-align: center;
}