* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.banner {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}

.game-box, .leaderboard-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
}

.btn:hover {
    background-color: #0056b3;
}

.game-info p {
    margin: 1rem 0;
    font-size: 1.25rem;
}

.input-container {
    margin-top: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
	border: solid;
	display: grid;
	text-align: center;
    font-size: 1.25rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}